/* ============������============== */
div.commentsearchform{
background:url(../../image/foreground/search.gif) 6px no-repeat;
padding-left:28px;
height:24px;
}

div.commentsearchform div.searchform{
float:left;
padding:0px 3px 0px 0px;
line-height:24px;
}

div.commentsearchform  div.searchform .input{
border:1px #ddd solid;
height:18px;
line-height:18px;
padding:0px 3px;
background:#f7f7f7;
}
