/* ============Æ·ÅÆ¼ìË÷============== */
div.shopbrandquery{
clear:both;
margin:20px 0px;
padding:0;
} 


div.shopbrandquery div.fang{
float:left;
margin-right:20px;
border:1px #ddd solid;
background: #fff;
padding:5px;
text-align:center;
}

div.shopbrandquery div.picFit{
overflow: hidden;
}

div.shopbrandquery div.picFit img{
}


div.shopbrandquery div.brandintrozone{
float:left;
}

div.brandintrozone a.brandtitle:link,div.brandintrozone a.brandtitle:visited,div.brandintrozone a.brandtitle:active{
color:#505050;
font:bold 14px/20px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
}

div.brandintrozone a.brandtitle:hover{
color:#ff0000;
text-decoration: underline;
font:bold 14px/20px Verdana, Arial, Helvetica, sans-serif;
}

div.brandintrozone #brandurl{
margin:5px 0px;
font:12px/20px Verdana, Arial, Helvetica, sans-serif;
}

div.brandintrozone #brandintro{
margin:5px 20px 5px 0px;
font:12px/18px Verdana, Arial, Helvetica, sans-serif;
}

/* ============·­Ò³============== */

div#showpages {
clear:both;
padding:0px;
margin:20px 0px;
width:100%;
height:30px;
white-space: nowrap;
}

div#pagesinfo {
float:left;
padding:3px 8px;
white-space: nowrap;
}

div#pages {
float:right;
padding-right:8px;
white-space: nowrap;
}

div#pages ul{
margin:0;
padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
color:#505050;
text-decoration: none;
}

div#pages a:hover{
color:#ff0000;
text-decoration: none;
}

div#pages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
background:#fff;
color:#505050;
border:1px #cde6ff solid;
white-space: nowrap;
}

div#pages li.pagesnow{
color:#505050;
background-color:#e4f2ff;
white-space: nowrap;
border:1px #cde6ff solid;
}

div#pages li.pbutton{
color:#505050;
background-color:#e4f2ff;
padding:3px 5px 1px 5px;
white-space: nowrap;
border:1px #cde6ff solid;
}

div#pages li.opt{
color:#505050;
padding:0px 2px;
white-space: nowrap;
border:0px;
}