@charset "UTF-8";

* {
	font-size: 9pt;
	border: 0;
	margin: 0;
	padding: 0;
}

ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	border: 0;
}

a, a:focus {
	text-decoration: none;
	color: #000;
	outline: none;
	blr: expression(this.onFocus = this.blur ());
}

dl, dt, dd, span {
	margin: 0;
	padding: 0;
	display: block;
}