@charset "UTF-8";

@import "base.css";
/*flow*/
.flowtitle {
	border-bottom: solid 1px #d0dee5;
	line-height: 35px;
	position: relative;
	height: 35px;
	margin-bottom: 28px;
}

.flowtitle {
	margin-bottom: 15px;
}

.flowtitle span {
	font-weight: bold;
	font-size: 14px;
	border-bottom: solid 3px #66c9f3;
	float: left;
	position: absolute;
	z-index: 100;
	bottom: -1px;
	padding: 0 3px;
	height: 30px;
	line-height: 30px;
}

.flow {
	height: 135px;
	padding-left: 15px;
	clear: both;
}

.flow li {
	float: left;
	text-align: center;
	padding-right: 50px;
	position: relative;
}

.flow li span {
	background: #fafbfb;
	border-right: solid 1px #dbdbdb;
	border-bottom: solid 1px #dbdbdb;
	text-align: center;
	display: block;
	width: 95px;
	height: 87px;
	padding-top: 8px;
	margin-bottom: 12px;
}

.flow li i {
	color: #3a94c8;
	font-style: normal;
}

.flowjt {
	width: 50px;
	height: 96px;
	background: url(../../../image/background/images/lc00.png) no-repeat
		center center;
	float: left;
	position: absolute;
	right: 0;
	top: 0
}