@charset "UTF-8";

@import "base.css";
/*imglist*/
.imglist {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	margin-left: 5px;
}

.imglist li {
	width: 188px;
	border: solid 1px #fff;
	height: 199px;
	float: left;
	margin-right: 8px;
	margin-bottom: 10px;
	cursor: pointer;
}

.imglist li:hover {
	border: solid 1px #d7e4ea;
	background: #F0F0EE;
}

.imglist li span {
	width: 168px;
	height: 126px;
	margin: 8px;
}

.imglist li span img {
	width: 168px;
	height: 126px;
	border: none;
}

.imglist li h2 {
	text-align: center;
	line-height: 25px;
}

.imglist li p {
	text-align: center;
	line-height: 17px;
}

.imglist li p a {
	color: #1f7cb6;
}

.imglist li p a:hover {
	color: #F60;
	font-weight: 900;
}